.App {
  /* text-align: center; */
  /* border: 1px solid red; */
  /* height: 100vh; */
}

/* laaders styles */
.Loader {
  /* border: 1px solid red; */
  width: 30%;
  margin: 100px auto;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 180px;
}
.lds-ripple div {
  position: absolute;
  border: 10px solid #f9a109;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 92px;
    left: 92px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 172px;
    height: 172px;
    opacity: 0;
  }
}

.Shoppingify {
  /* border: 1px solid blue; */
  display: flex;
  height: 100%;
}

.ShoppingifyBlur {
  filter: blur(0.7px);
}

.ModalConfirmationContainer {
  width: 408.52px;
  height: 190px;
  background: #ffffff;
  border-radius: 24px;
  position: absolute;
  z-index: 5;
  bottom: 250px;
  left: 400px;
  /* border: 1px solid tomato; */
}

.IconClearContainer {
  /* border: 1px solid green; */
  display: flex;
  justify-content: flex-end;
}

.IconClearContainer i {
  color: #828282;
  font-size: 20px;
  padding: 15px 30px 0 0;
  cursor: pointer;
}

.ModalConfirmationContainer p {
  /* border: 1px solid green; */
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  color: #34333a;
  width: 80%;
  margin: 0 0 30px 30px;
}

.ModalButtonContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.ModalButtonContainer button {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
}

.ModalBtnCancel {
  margin-right: 5px;
  background: transparent;
  color: #34333a;
}

.ModalBtnConfirm {
  background: #eb5757;
  color: #fff;
  border: 1px solid orange;
}

@media only screen and (min-width: 320px) and (max-width: 414px) {
  .Loader {
    /* border: 1px solid red; */
    width: 60%;
    margin: 100px auto;
  }
}
