.MainPage {
  width: 70%;
  /* border: 1px solid green; */
}

/* general styles */
.MainPageContainer,
.StatisticsContainer,
.HistoryContainer {
  width: 87%;
  margin: 0 auto;
  /* border: 1px solid tomato; */
}

.MainPageHeading {
  display: flex;
  align-items: center;
}

.MainPageHeading h2 {
  width: 70%;
  height: 66px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 35px;
  margin-right: 20px;
  color: #34333a;
  /* border: 1px solid blue; */
}

.MainPageHeading span {
  color: #f9a109;
}

.SearchInputGroup {
  /* border: 1px solid orange; */
  margin: -40px 0 0 20px;
  display: flex;
  align-items: center;
  width: 30%;
  /* width: 275.61px; */
  height: 40px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.04);
  border-radius: 12px;
}

.SearchIcon {
  width: 15%;
  /* border: 1px solid red; */
  padding-left: 10px;
  color: #34333a;
}

.SearchInput {
  width: 85%;
  height: 38px;
  /* border: 1px solid green; */
  border: none;
  outline: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  color: #34333a;
}

.SearchInput::placeholder {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #bdbdbd;
}

/* items styles */
.ItemListContainer {
  /* border: 1px solid blue; */
}

.Items {
  /* border: 1px solid blue; */
}

.Items h4 {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
  color: #000000;
  margin-bottom: 10px;
}

.ItemsContainer {
  display: flex;
  /* justify-content: space-between; */
  gap: 2%;
  flex-wrap: wrap;
}

.ItemButtonContainer {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 23.5%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.ItemName {
  /* border: 1px solid red; */
  width: 70%;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin: 10px 0;
  padding-left: 10px;
}

.ItemName:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #1e9ec9;
}

.AddIcon {
  /* border: 1px solid blue; */
  width: 10%;
  margin-left: 10px;
  color: #c1c1c4;
  font-size: 20px;
  cursor: pointer;
}

/* statistics styles */
.ProgressBarContainer {
  width: 47%;
  /* border: 1px solid blue; */
  margin-top: 20px;
}

.StatsHeading {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}

.ProgressBarStats {
  display: flex;
  justify-content: space-between;
}

.ProgressData {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid green; */
}

.ProgressData p {
  margin: 8px 0 5px 0;
}

.DataName {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.DataPercel {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */
}

.Progress {
  background: #e0e0e0;
  border-radius: 4px;
  /* (height of inner div) / 2 + padding */
  /* padding: 3px; */
  margin-bottom: 10px;
}

.Progress > div {
  background-color: #f9a109;
  width: 10%;
  /* Adjust with JavaScript */
  height: 6px;
  border-radius: 4px;
}

.Progress2 > div {
  background-color: #56ccf2;
  width: 60%;
}

.ProgressGraphStats {
  /* border: 1px solid green; */
  margin-top: 30px;
}

.ProgressGraph {
  margin: 40px 0 50px 0;
}

.HistoryContainer {
  /* border: 1px solid orange; */
}

.HistoryHeading h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  /* identical to box height */
  color: #34333a;
}

.HistoryDetailsContainer {
  /* display: flex; */
  /* border: 1px solid blue; */
}

.Details {
  /* border: 1px solid blue; */
  margin-bottom: 50px;
}

.DetailsMonth {
  margin: 0 0 30px 0;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
}

.HistoryDetails {
  /* border: 1px solid tomato; */
  display: flex;
  margin-top: 10px;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 12px;
}

.ShoppingName {
  width: 68%;
}

.ShoppingName p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 20px;
}

.ShoppingStatus {
  display: flex;
  width: 32%;
  align-items: center;
  /* justify-content: space-between; */
  /* border: 1px solid blue; */
}

.EventNoteIcon {
  color: #c1c1c4;
}

.EventDate {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #c1c1c4;
  margin: 0 20px;
}

.DetailsStatus {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #56ccf2;
  border: 1px solid #56ccf2;
  border-radius: 6px;
  padding: 2px 5px;
  margin: 0 20px 0 0;
}

.ExpandMoreIcon {
  transform: rotate(-90deg);
  color: #f9a109;
  cursor: pointer;
}

.DetailBackBtn {
  /* border: 1px solid tomato; */
  width: 10%;
  display: flex;
  align-items: center;
  color: #f9a109;
  cursor: pointer;
  margin-top: 20px;
}

.DetailBackBtn p {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.ArrowRight2 {
  transform: rotate(180deg);
}

.DetailsHeading {
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  text-transform: capitalize;
  line-height: 32px;
  /* identical to box height */
  color: #34333a;
}

.DetailsDate {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.ListDetailsContainer {
  /* border: 1px solid tomato; */
  margin-top: 40px;
}

.ListDetailsContainer h4 {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.ListDetails {
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  gap: 1.3%;
  margin-top: 15px;
}

.ListItemDetails {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width: 24%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  /* border: 1px dashed orange; */
}

.ListItemName {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  width: 65%;
  margin: 10px 30px 10px 10px;
  /* border: 1px solid red; */
}

.ListItemQuantity {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */
  color: #f9a10a;
  width: 35%;
  /* margin-left: 30px; */
}

.CategoryError {
  margin: 40px 0;
  border-radius: 5px;
  padding: 10px 5px;
  background: #f8d7da;
  color: #845397;
}
